.blank_8 {
  height: 8px;
}

.blank_16 {
  height: 16px;
}

.blank_24 {
  height: 24px;
}

.blank_32 {
  height: 32px;
}

.blank_40 {
  height: 40px;
}

.blank_48 {
  height: 48px;
}

.blank_56 {
  height: 56px;
}

.blank_64 {
  height: 64px;
}
