@charset "UTF-8";
@import './variables.scss';
@import './componentWidth.scss';

%labelStyle {
  position: absolute;
  top: 0;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  color: lighten$color-accent;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.root {
  position: relative;
  margin: 0 auto;
  input[type='text'],
  input[type='number'],
  input[type='password'] {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: rgba(darken(white, 15%), 0.5);
    border: solid 2px $color-accent;
    &:focus {
      outline: none;
      background-color: rgba(white, 0.7);
      border: solid 2px $font-focus;
      box-shadow: 0 0 8px 0 dodgerBlue;
    }
    &:hover {
      border: solid 2px $font-focus;
    }
  }
  &__label {
    @extend %labelStyle;
    &_active {
      @extend %labelStyle;
      font-size: 0.5rem;
      top: -1rem;
      padding: 0 0.5rem;
      background-color: darken(white, 11%);
      border-radius: 50px;
    }
  }
}
