@charset "UTF-8";

/*////////////////////////////////////////////////
  サイト・コンテンツの横幅
/*/ ///////////////////////////////////////////////
$width-base: 1100px; //全体
$width-login-main: 600px; //ログインページのメインコンテンツ

/*////////////////////////////////////////////////
  サイト・コンテンツのベースカラー
/*/ ///////////////////////////////////////////////
$color-base: #d7cebb; //背景色
$color-main-1: #afa07f; //メインコンテンツの色その１
$color-main-2: #80796c; //メインコンテンツの色その２
$color-accent: #5b5c76; //アクセントカラー（ボタンやら）

/*////////////////////////////////////////////////
  フォント関係
/*/ ///////////////////////////////////////////////
//フォントカラー
$fontColor-main-1: #333; //メインのフォントカラーその１
$fontColor-main-2: #fff; //メインのフォントカラーその２
$fontColor-caption: #222; //見出しのフォントカラー
$fontColor-link: #8c3003; //リンクのフォントカラー
$fontColor-warning: #f15922; //警告・エラーのフォントカラー
$font-focus: rgb(56, 106, 197);
//フォントサイズ
$font-h1: 3rem; //h1
$font-h2: 2rem; //h2
$font-h3: 1.5rem; //h3

/*////////////////////////////////////////////////
  余白
/*/ ///////////////////////////////////////////////
$space-extra-large: 48px;
$space-large: 32px;
$space-medium: 24px;
$space-small: 16px;
$space-extra-small: 8px;
